{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<section class="m-5">
<div>
      <h2>{{info}}</h2>
      <h4>{{info2}}</h4>
  </div>
  <div class="button">
    <a href="/product-list" class='btn btn-primary'>Повернутися назад</a>
  </div>
</section>



{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}