@use '../../lib/service.scss' as s;
@use '../../component/heading/style.scss' as heading;
@use '../../component/divider/style.scss' as divider;
@use '../../component/field/style.scss' as field;
@use '../../component/button/style.scss' as button;


.main {
    display: flex;
    flex-direction: column;
    gap: s.space(10);
    padding: s.space(10) ;
}

.card-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.list_card {
    display: flex;
    flex-direction: column;
}

.list_href {
    text-decoration: none;
    color: black;
}
