main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 80%;
    max-width: 1600px;
}

.form__title {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.product {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product__card {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    flex: 1 0 calc(33.333% - 20px); /* Три столбца с промежутком в 20 пикселей */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* По желанию: добавьте отступ вниз для создания промежутка */
}

.product__name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.product__description {
    margin-bottom: 10px;
}

.product__id {
    color: #888;
    margin-bottom: 10px;
}

.product__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__price {
    font-weight: bold;
}

.product__edit {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.product__edit a {
    color: #fff;
    text-decoration: none;
}
