@use '../../lib/service.scss' as s;
@use '../../lib/spotify.scss' as spotify;

.library__content {

    width: 100%;
    max-width: 720px;
    display: flex;
    flex-direction: column;
    gap: s.space(15);

    &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        font-size: 40px;
    }


    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: s.space(13) s.space(8);

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: s.space(5);
        }

        &__image {
            height: 345px;
            width: 345px;
        }

        &__title {
            color: s.color(light);
            font-size: 20px;
        }

        &__text {
            font-size: 16px;
            color: s.color(grey);
        }
    }
}